/*DO NOT TOUCH THE RESET*/

html {
  font-family: inherit;
  font-size: 62.5%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd{
  margin: 0;
}

body {
box-sizing: border-box;
text-rendering: optimizeSpeed;
line-height: 1.5;
}

body::-webkit-scrollbar {
  display: none;
}

h2,
h3 {
  font-weight: 600;
}

 input{
    border-style: none;
  }